<head></head>
<body>

<div class="container">
  <h1> {{name}}'s First Angular Project!
  </h1>
  <li> {{itemList[0]}} </li>
    <div class="row justify-content-center">
      <div class="col-3">
        <movie-list></movie-list>
      </div>
      <div class="col-3">
        <chores-list></chores-list>
      </div>
      <div class="col-3">
        <fav-photos></fav-photos>
      </div class="col-3">
    <hr> 
    <!-- horizontal line -->
        <page-title></page-title>
        <fav-links></fav-links>
    
      </div>
  
      <div class="col-3">
        <p>"The rectangle has a length of {{rectangle.length}} cm, a width of {{rectangle.width}} cm, and an area of {{rectangle.area}}  cm^2.".</p>
      </div>
  
      <div class="col-3">
        <p>No content here yet...</p>
      </div>
    </div>
  </div>
  
  

  </body>